.container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 10px;
  justify-content: space-between;
  position: relative;
  padding: 0 2rem;
  height: 80px;

  .logo a {
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
    flex: 50%;
    justify-content: flex-start;
  }

  .item {
    display: flex;
    margin: 0 auto;
    flex: 50%;
    justify-content: flex-end;

    ul {
      display: flex;

      .navItem {
        margin: 0 1rem;
        color: #fff;

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #fff;
          font-size: 500;
          margin: 0 10px;
        }
      }
    }

    .toggle {
      display: none;
    }
  }
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;

  .btn {
    padding: 16px;
    border-radius: 8px;
    border: none;
    margin: 10px;
    cursor: pointer;
    background: #ccc;

    &:hover {
      background-color: #333;
    }

    & a {
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .item {
      ul {
        display: none;
      }

      .toggle {
        display: block;
        color: #fff;
      }
    }
  }

  #hidden {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 80px;
    height: 230px;
    width: 100%;
    background-color: #333;
    align-items: center;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
  }

  #hidden a {
    margin: 10px;
  }
}
